// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$primary-pink: #e21d60;
$text-pink: #fa4692;
$font-white: whitesmoke;
$bg-grey: #292626;
$lighter-bg-grey: #403f3f;
$off-white: #f7f4f0;
