.container-analytics-dash {
  width: 100vw !important;
  height: calc(100vh - 60px);
  margin: 0 0 0 0;
  color: $font-white;
}

.articles-analytics-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

// @media (min-width: 100px) and (max-width: 575px) {
//   .container-analytics-dash {
//     overflow: scroll;
//   }
// }

.analytics-row {
  //height: calc((100vh - 60px) / 2);
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: calc(93vh - 60px);
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  color: $font-white;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  height: calc((93vh - 60px) / 2);
}
.div2 {
  grid-area: 1 / 3 / 2 / 5;
  height: calc((93vh - 60px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1vw;
  align-items: center;
  .middle {
    width: 80%;
  }
}

.div3 {
  grid-area: 1 / 5 / 2 / 7;
  height: calc((93vh - 60px) / 2);
}
.div4 {
  grid-area: 2 / 1 / 3 / 4;
  height: calc((93vh - 60px) / 2);
}
.div5 {
  grid-area: 2 / 4 / 3 / 7;
  height: calc((93vh - 60px) / 2);
}

@media (max-width: 2200px) and (min-width: 1600px) {
  .bottom {
    display: flex;
    justify-content: space-evenly;
    .btn-xl {
      font-size: 1.5vw;
      width: 45%;
    }
  }
}

@media (max-width: 900px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 48vw;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 48vw;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 3;
    width: 96vw;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;
    width: 48vw;
  }
  .div5 {
    grid-area: 3 / 2 / 4 / 3;
    width: 48vw;
  }
}

@media (max-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 96vw;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
    width: 96vw;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
    width: 96vw;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
    width: 96vw;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
    width: 96vw;
  }
}

@media (max-width: 1069px) {
  .top-option {
    font-size: 4vw;
  }
  .div2 {
    font-size: 2vw;
    .welcome {
      font-size: 2.5vw;
    }
  }
  .parent {
    .chart-title {
      font-size: 3vw;
    }

    .card-header-analytics {
      font-size: 2vw;
    }
    .card-body-analytics {
      font-size: 1.5vw;
    }
  }
}

.popover-style {
  color: $even-lighter-bg-grey;
  opacity: 0.5;
}

@media (max-width: 738px) {
  .top-option {
    font-size: 6vw;
  }
  .div2 {
    font-size: 4vw;
    .welcome {
      font-size: 4vw;
    }
  }
  .parent {
    .chart-title {
      font-size: 5vw;
    }

    .card-header-analytics {
      font-size: 2.5vw;
    }
    .card-body-analytics {
      font-size: 2vw;
    }
  }
}

.popover-container {
  position: relative;
  display: inline-block;
}

.popover-text {
  visibility: hidden;
  background-color: #222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Adjust this value to change the distance between the icon and the popover */
  left: 50%;
  width: 200px; /* Adjust this value to set the popover width */
  font-size: 12px; /* Adjust this value to set the text size */
  margin-left: -100px; /* Adjust this value to horizontally align the popover */
  opacity: 0;
  transition: opacity 0.5s; /* Adjust the transition duration for smoother effect */
}

.popover-text::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.popover-container:hover .popover-text {
  visibility: visible;
  opacity: 1;
}
