#dashboard {
  display: flex;

  // h1, h3{
  //   color: #FA4692;
  // }
  p {
    color: whitesmoke;
    text-align: justify;
  }
}

.dashboard-page-container {
  display: flex;
  width: 100%;
}
.content-container {
  padding-top: 8px;
}

.card-article-header {
  font-size: 20px;
}

.card-article-description {
  font-size: 14px;
  font-style: italic;
  color: $even-lighter-bg-grey;
}

.card-article-description:hover {
}

.welcome {
  color: $font-white !important;
}

.dashboard-banner {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin-top: 50px;
  width: 90%;
}

.container-dashboard {
  margin-top: 50px;
  width: 90%;
  padding-top: 8px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.mt-5 {
  margin-top: 5px !important;
}

.w-270 {
  width: 270px !important;
}

.h-40 {
  height: 40px !important;
}

.cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 10px;
  align-items: stretch;
}

.cards-h3 {
  color: $font-white !important;
}

.card-category {
  background-color: #222;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 2px 2px 5px #000000;
  text-align: center;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.card-category:hover {
  transform: scale(1.03);
  background-color: $primary-pink;
  .card-article-description {
    color: $font-white !important;
  }
  color: $font-white !important;
}

.sidebar-bg {
  background-color: $bg-grey !important;
}
.border-color {
  border-color: #fa4692 !important;
}

.pr-none {
  padding-right: 0 !important;
}
// .small-cards {
//   border: 1px solid rgb(231, 10, 139);
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
//   text-align: center;
//   border-radius: 5px;
//   padding: 20px;
// }

// .item {
//   display: grid;
//   //grid-template-columns: 1fr 1fr;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-gap: 20px;
// }

a {
  text-decoration: none;
}

.dashboard-arrows {
  display: flex;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .w3-sidebar {
    width: 100%;
    float: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-category {
    height: 200px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-category {
    height: 180px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .card-category {
    height: 160px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card-category {
    height: 130px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card-category {
    height: 100px;
  }
}

.hover-sidebar-list {
  transition: 0.3s ease-in-out;
}

.hover-sidebar-list:hover {
  color: $primary-pink !important;
  background-color: $bg-grey !important;
}

//chat gpt
// #dashboard {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #1c1c1c;
//   color: whitesmoke;
//   font-family: Arial, Helvetica, sans-serif;
// }

// @media only screen and (max-width: 768px) {
//   .cards {
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   }
// }

// @media only screen and (max-width: 576px) {
//   .cards {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   }

//   .sidebar-bg {
//     width: 100%;
//     margin-bottom: 20px;
//   }
// }
