#dashboard {
  display: flex;

  // h1, h3{
  //   color: #FA4692;
  // }
  p{
    color: whitesmoke;
    text-align: justify;
  }
}

.content-container {
  padding-top: 8px;
}

.welcome {
  color: $font-white !important;
}

.container {
  margin-top: 50px;
  width: 90%;
}

.cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 10px;
}

.cards-h3 {
  color: $font-white !important;
}

.card-category {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.card-category:hover {
  transform: scale(1.03);
  background-color: $primary-pink;
}

.sidebar-bg {
  background-color: $bg-grey !important;
}
.border-color {
border-color: #FA4692 !important;

}
// .small-cards {
//   border: 1px solid rgb(231, 10, 139);
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
//   text-align: center;
//   border-radius: 5px;
//   padding: 20px;
// }

// .item {
//   display: grid;
//   //grid-template-columns: 1fr 1fr;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-gap: 20px;
// }


a {
text-decoration: none;
}
@media (max-width: 767px) {
  .w3-sidebar {
    width: 100%;
    float: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }
}

//chat gpt
// #dashboard {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #1c1c1c;
//   color: whitesmoke;
//   font-family: Arial, Helvetica, sans-serif;
// }



// @media only screen and (max-width: 768px) {
//   .cards {
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   }
// }

// @media only screen and (max-width: 576px) {
//   .cards {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   }

//   .sidebar-bg {
//     width: 100%;
//     margin-bottom: 20px;
//   }
// }
