.goal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: none !important;
  font-size: 1.5rem;
}

.no-bg {
  background-color: transparent !important;
}
.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: $our-teal;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.goal-percentage {
  align-self: center;
  font-size: 1.3vw;
  color: $primary-pink;
}

.goal-card {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.goal-detail {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 510px;
}

.goal-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-left {
  text-align: left;
}

.goal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: large;
}

.flex {
  display: flex;
}

.modal-color {
  background-color: #222;
}

.modal-values {
  display: flex;
  justify-content: space-evenly;
}

.data-unit {
  display: flex;
  justify-content: space-between;
}

.status-theme {
  display: flex;
  justify-content: space-evenly;
}

.modal-field-width {
  width: 90%;
}
.goal-actions i:hover {
  cursor: pointer;
}

.completed-goals-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.w-full {
  width: 100%;
}

// set option within edit goal modal background
.dropdown {
  background-color: #222 !important;
  color: $font-white !important;
  margin-bottom: 10px;
}

.card-goal {
  background-color: #222;
  border-radius: $border-radius;
  box-shadow: 2px 2px 5px #000000;
  text-align: center;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.card-goal:hover {
  transform: scale(1.015);
  background-color: $primary-pink;

  color: $font-white !important;
  // hover
  .goal-percentage {
    color: $font-white !important;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-goal {
    height: 100px;
  }
  .goal-details {
    display: none;
  }
  .goal-percentage {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-goal {
    height: 100px;
  }
  .goal-details {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .card-goal {
    height: 90px;
  }
  .goal-details {
    display: none;
  }
}

// Large devices (desktops, 992px and up) Changing something to deploy
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card-goal {
    height: 90px;
  }
  .goal-details {
    display: inline;
  }
}
//Nothing
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card-goal {
    height: 90px;
  }
}
