// Specific CSS for your home-page
.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(asset-path("staircase-high-res.jpg"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-header {
  font-size: 8vb;
  color: $primary-pink;
  padding-bottom: 30px;
  font-family: $hero-header;
}

.hero-cta {
  display: flex;
  padding-bottom: 20px;
}

.hero-content {
  max-width: 500px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: left;
}


.hero-text p {
  max-width: 500px;
  padding-top: 24px;
  padding-bottom: 32px;
  color: $font-white;
  font-size: 2vb;
  line-height: 32px;
}

.landing-pink-text {
  font-size: 24px;
  font-family: $body-font-c;
  color: $text-pink;
  text-align: center;
  padding-top: 50px;
}

.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.how-it-works-container {
  min-height: 50vh;
  max-height: 70vh;
}
.what-we-offer-container {
  background-image: url(asset-path("landingsunrise.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  max-height: 70vh;
}

.what-we-offer-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.square-home-card-body {
  font-size: 16px;
  font-weight: $body-font-c;
  color: $font-white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
  line-height: 32px;
}

.offer-card-text {
  margin: 4px;
  padding: 0;
  color: $font-white;
}

.card-image > img {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  line-height: 12px;
}

.card-italic {
  font-size: 12px;
  color: $font-white;
  padding: 0;
}

.p-30 {
  padding-top: 30px;
}

.testimonials-container {
  background-color: $bg-grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  max-height: 70vh;
}

.circles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.circle-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-card-text {
  font-size: 16px;
  color: $font-white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
  line-height: 32px;
  width: 200px;
}

.arrows {
  width: 60px;
  height: 72px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  cursor: pointer;
}

.centered-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);

}

.arrows path {
  stroke: $text-pink;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}


img {
  border-radius: 4px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 380px) {
  .circles-cards {
    grid-template-columns: 1fr;
  }
  .hero-header {
    font-size: 32px;
    }
    .arrows {
      display: none;
    }
  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .circles-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
  .circles-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1200px) {
  .circles-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 2000px) {
  .how-it-works-container {
   max-height: 70vh;
  }
  .what-we-offer-container {
    max-height: 70vh;
  }
  .testimonials-container {
    max-height: 70vh;
  }
}
