// Specific CSS for your home-page
.hero-container {
  background:  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url(asset-path("herostaircase.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: $font-white;
  padding: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding-top: 15%;
  align-items: left;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: $medium-bold;
  color: $primary-pink;
  font-family: 'Nunito', sans-serif;
}

.hero-text p {
  max-width: 500px;
  padding-top: 24px;
  padding-bottom: 32px;
  color: $font-white;
  font-size: 24px;
  line-height: 32px;
}

.logo-text {
  font-size: 14px;
  font-weight: $regular-font;
  color: $text-pink;
  margin: 0;
}


.hero-footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.landing-pink-text {
  font-size: 24px;
  font-family: 'nunito', sans-serif;
  font-weight: 400;
  color: $text-pink;
  text-align: center;
  padding-top: 24px;
}

.circle-img {
  width: 150px;
}

.what-we-offer-container {
  background-image: url(asset-path("landingsunrise.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.what-we-offer-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}

.testimonials-container {
  background-color: $bg-grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
