// Specific CSS for your home-page
.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(asset-path("abstract-staircase.JPG"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  color: $font-white;
  padding: 0;
  padding-top: 18vh;
  padding-left: 50px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
}

.hero-header {
  font-size: 5vw;
  color: $primary-pink;
  padding-bottom: 30px;
  font-family: $hero-header;
}

.hero-cta {
  display: flex;
  padding-bottom: 20px;
}

.hero-content {
  max-width: 35vw;
  font-size: 1.5vw;
}

.vw-2 {
  font-size: 2vw !important;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: left;
}

.hero-text p {
  max-width: 500px;
  padding-top: 24px;
  padding-bottom: 32px;
  color: $font-white;
  font-size: 2vb;
  line-height: 32px;
}

.landing-pink-text {
  font-size: 2.2vw;
  font-family: $body-font-c;
  color: $text-pink;
  text-align: center;
  padding-top: 50px;
}

.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.how-it-works-container {
  height: 60vh;
}
.what-we-offer-container {
  background-image: url(asset-path("landingsunrise.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}

.what-we-offer-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.square-home-card-body {
  font-size: 16px;
  font-weight: $body-font-c;
  color: $font-white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
  width: 20vw;
}

.offer-card-text {
  margin: 4px;
  padding: 0;
  color: $font-white;
  font-size: 1.5vw;
}

.card-image > img {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-italic {
  font-size: 1.2vw;
  color: $font-white;
  padding: 0;
}

.p-30 {
  padding-top: 30px;
}

.testimonials-container {
  background-color: $bg-grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}

.circles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.cards-4 {
  grid-template-columns: repeat(
    4,
    minmax(150px, 1fr)
  ); /* update the number of columns and minmax value */
}

.circle-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-card-text {
  font-size: 1.2vw;
  color: $font-white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
  width: 250px;
}

.arrows {
  width: 60px;
  height: 72px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  cursor: pointer;
}

.centered-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.arrows path {
  stroke: $text-pink;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

img {
  border-radius: 4px;
}

@media only screen and (max-width: 480px) {
  /* CSS styles for phones */
  .hero-container {
    height: 40vh;
    padding-top: 9vh;
  }
  .hero-header {
    font-size: 6vw;
  }
  .hero-content {
    max-width: 60vw;
    font-size: 2vw;
  }
  .how-it-works-container {
    height: 70vh;
  }
  .what-we-offer-container {
    height: 85vh;
  }
  .what-we-offer-body {
    padding-top: 5px;
  }
  .testimonials-container {
    height: 70vh;
  }
  .circles-cards {
    grid-template-columns: 1fr;
  }
  .cards-4 {
    grid-template-columns: 1fr;
  }
  .arrows {
    display: none;
  }
  .card-image > img {
    width: 100px;
    height: 100px;
  }
  .square-home-card-body {
    width: 15vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .circle-img {
    width: 100px;
    height: 100px;
  }
  .circle-card-text {
    width: 20vw;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2vw;
    line-height: normal;
  }
  .landing-pink-text {
    font-size: 3vw;
  }
  .circles-cards {
    margin-top: 5px;
  }

  .offer-card-text {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* CSS styles for tablets */

  .hero-container {
    height: 50vh;
  }
  .how-it-works-container {
    height: 35vh;
  }
  .what-we-offer-container {
    height: 35vh;
  }
  .testimonials-container {
    height: 35vh;
  }
  .card-image > img {
    width: 100px;
    height: 100px;
  }
  .square-home-card-body {
    width: 15vw;
  }
  .circle-img {
    width: 130px;
    height: 130px;
  }
  .circle-card-text {
    width: 20vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS styles for small desktops and laptops */

  .hero-container {
    height: 55vh;
    padding-top: 9vh;
  }
  .how-it-works-container {
    height: 35vh;
  }
  .what-we-offer-container {
    height: 35vh;
  }
  .testimonials-container {
    height: 35vh;
  }
  .card-image > img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* CSS styles for large desktops and laptops */
  .hero-container {
    height: 60vh;
    padding-top: 9vh;
  }
  .how-it-works-container {
    height: 45vh;
  }
  .what-we-offer-container {
    height: 45vh;
  }
  .testimonials-container {
    height: 45vh;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1800px) {
  /* CSS styles for projectors and large screens */
  .hero-container {
    height: 90vh;
    padding-top: 18vh;
  }
  .how-it-works-container {
    height: 60vh;
  }
  .what-we-offer-container {
    height: 70vh;
  }
  .testimonials-container {
    height: 60vh;
  }

  .circle-img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1801px) {
  /* CSS styles for large screens */
  .hero-container {
    height: 90vh;
    padding-top: 18vh;
  }
  .how-it-works-container {
    height: 50vh;
  }
  .what-we-offer-container {
    height: 50vh;
  }
  .testimonials-container {
    height: 50vh;
  }
  .circle-img {
    width: 200px;
    height: 200px;
  }
}

// Smallest device
/* @media (min-width: 100px) and (max-width: 380px) {
  .circles-cards {
    grid-template-columns: 1fr;
  }
  .hero-header {
    font-size: 32px;
  }
  .arrows {
    display: none;
  }
} */

// Small devices (landscape phones, 576px and up)
/* @media (min-width: 576px) and (max-width: 768px) {
  .circles-cards {
    grid-template-columns: 1fr;
  }
} */

// Medium devices (tablets, 768px and up)
/* @media (min-width: 768px) and (max-width: 992px) {
  .circles-cards {
    grid-template-columns: 1fr 1fr;
  }
} */

// Large devices (desktops, 992px and up)
/* @media (min-width: 992px) and (max-width: 1200px) {
  .circles-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) and (max-width: 2500px) {
//   .how-it-works-container {
//     max-height: 70vh;
//   }
//   .what-we-offer-container {
//     max-height: 70vh;
//   }
//   .testimonials-container {
//     max-height: 70vh;
//   }
// }
