.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  // maybe set height to 60vh?
}

.option-header {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: $font-white;
  text-align: center;
  line-height: 12px;
}

.option-input {
  background: none;
  border: 1px solid $text-pink;
  background-color: #fa469205 !important;
  color: white !important;
}

.option-form {
  width: 60%;
  max-width: 500px;
  text-align: center;
}
