.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.option-header {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: $font-white;
}

.option-input {
  background: none;
  border: 1px solid $text-pink;
}

.option-form {
  width: 60%;
  max-width: 500px;
  text-align: center;

}
