.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  // maybe set height to 60vh?
}

.option-header {
  margin-top: 6rem;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: $font-white;
  text-align: center;
  line-height: 12px;
}

.option-input {
  background: none;
  border: 1px solid $primary-pink;
  background-color: #fa469205 !important;
  color: white !important;
  margin-bottom: 40px;
}

.option-input:focus {
  border: none; //doesn't work
}

.option-form {
  width: 60%;
  max-width: 500px;
  text-align: center;
}
