// .priority_score {
//   display: flex;
// }

.form-check {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
}

.form-check .form-check-input {
  margin-left: 0px;
  margin-bottom: 5px;
}

.new_priority {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
/* Square radio buttons */
.form-check-input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  border: 1px solid $primary-pink;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

/* Purple radio buttons when checked */
.form-check-input[type="radio"]:checked {
  background-color: $primary-pink;
  border-color: $primary-pink;
  background-image: none;
}

legend {
 display: none;
 padding: 0px;
 margin: 0px;
}

// .priority-form {
//   label {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     color: #000;
//     text-align: center;

//   }
// }


// LIBRARY FROM LW
.category-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 48%;
  // flex-wrap: wrap;
}

.category-item {
  // flex: 0 0 30%;
  width: 50px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border: 1px solid $primary-pink;
  border-radius: 4px;
  background-color: #fa469205;
  color: $primary-pink;
}
.category-selector + label:hover {
  background-color: $primary-pink;
  transition-timing-function: ease-in;
  color: $font-white
}

.category-selector:checked + label {
  color: whitesmoke !important;
  background-color: $primary-pink;
  border-color: $primary-pink;
  background-image: none;

}
 .options-container {
  .priorities-btn {
    margin-top: 30px;
  }
  .option-header {
    font-family: $body-font-c !important;
  }
 }
