
<div id="dashboard">
  <div class="sidebar">
    <h2>Tools</h2>
    <ul>
      <li>
        <a href="#">My Results</a>
      </li>
      <li>
        <a href="#" >Carreer Challenge</a>
      </li>
      <li>
        <a href="#" >Find a coach</a>
      </li>
      <li>
        <a href="#" >Search our resourses</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <h1>Welcome, <%=@user.name.capitalize%>!</h1>

    <div class="cards">
      <div class="card-category" >
        <h3>Career Sponsorship is a two way street</h3>
        <p>Sponsorship is a vital mechanism for advancing the careers of junior employees. But it’s not just a one-way relationship in which everything flows from the sponsor to the sponsee. What sponsees bring to the relationship is just as important.</p>
      </div>

      <div class="card-category">
        <h3>What’s holding back your career development?</h3>
        <p>Career challenges like reorganizations, layoffs, and a lack of personal fulfillment can feel like big bumps in the road, but instead of seeing them as obstacles, start to look for the opportunities. Personal career development is critical for resilience.</p>
      </div>
    </div>

      <div class="item">

        <div class="card-category small-cards" >
          <h3>It’s never too late to switch career</h3>
          <p>…and it doesn’t need to shake up your entire world.</p>
        </div>

        <div class="card-category small-cards" >
          <h3>How to build a career in a new industry</h3>
          <p>Reinventing yourself doesn’t have to mean starting from scratch.</p>
        </div>

        <div class="card-category small-cards" >
          <h3>Setting Career goals when you feel overwhelmed</h3>
          <p>You can grow out of your slump.</p>
        </div>
      </div>

  </div>
</div>
