.btn-ghost {
  background-color: none;
  color: $font-white;
  border: 1px solid $text-pink;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  min-width: 120px;
  //transition time
  transition: all 0.3s ease;
}

.btn-ghost:hover {
  color: $primary-pink;
}

.hero-btn {
  background-color: $light-gray;
  border-radius: 4px;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  color: $text-pink;
  font-size: 18px;
  transition: background 0.3s ease;
  opacity: 0.8;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}

.hero-btn:hover {
  border: 2px solid $text-pink;
  color: $primary-pink;
}

.dashboard-btn {
  border-radius: $border-radius;
  color: $primary-pink;
  border: 1px solid $primary-pink;
  background-color: transparent;
}

.dashboard-btn:hover {
  color: $text-pink;
}

.priorities-btn {
  border-radius: $border-radius;
  color: $font-white;
  border: 1px solid $primary-pink;
  background-color: transparent;
  width: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  font-size: 18px;
}

.priorities-btn:hover {
  color: $text-pink;
}

.options-btn {
  border-radius: $border-radius;
  color: $font-white;
  border: 1px solid $primary-pink;
  background-color: transparent;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  font-size: 18px;
}

.options-btn:hover {
  color: $text-pink;
}
