.container-analytics-dash {
  margin: 0 auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $off-white;
}

.articles-analytics-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.sign-up-container {
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
