// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";

@import "components/buttons";
@import "components/cards";
@import "components/chart";
@import "components/containers";
@import "components/cards";
@import "pages/login";

body {
  background-color: $bg-grey;
  color: $font-white;
  margin: 0 auto;
  font-family: $body-font;
}
